{# Set the title and heading of your project#}
{% set title  = 'A21' %}
{% set heading  = 'A21  SF 1' %}

{% set href_address  = 'backoffice/AutoAdminDashBoard?menu_item=' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"
          content="coder : {a21}">

    <title>{{ title }}</title>

    <link href="{{ BASE_URL }}includes/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="{{ BASE_URL }}includes/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="{{ BASE_URL }}includes/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="{{ BASE_URL }}includes/css/jquery-ui.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">
        var BASE_URL = '{{ BASE_URL }}';
    </script>

    <script type="text/javascript" src="{{ BASE_URL }}includes/js/jquery.js"></script>

    <script type="text/javascript" src="{{ BASE_URL }}includes/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}includes/js/AdminShared.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}includes/js/ajaxGrid.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}includes/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}includes/js/jquery-ui-1.10.3.min.js"></script>


    <!--[if IE]>
    <script src="{{ BASE_URL }}includes/js/html5.js"></script>
    <link href="{{ BASE_URL }}includes/css/ie.css" rel="stylesheet" type="text/css"/>-
    <![endif]-->

    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->

    <style>
        ul.nav > li {
            padding: 10px 17px;
        }

        body {
            background-color: #333;
            color: #777;
        }

        nav > ul > a {
            color: #777;

        }
    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav">
                <li><h3 class="text-muted"><a href="{{ BASE_URL }}Home">{{ heading }}</a></h3></li>
                <li><h5 class="text-muted">What would you like to change</h5></li>
                {% for MenuItem in NavMenu %}
                    <li><a href="{{ BASE_URL }}{{ href_address }}{{ MenuItem }}">{{ MenuItem }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-10  col-md-10  main">
            <h3 class="page-header">Dashboard</h3>
            <div class="container">
                <div class="row ">
                    <h4 class="col-md-6"> {{ NowItem }} </h4>
                    <div class="col-md-6 text-right"><a class="btn btn-sm btn-success"
                                                        onclick="showAddNewForm('Add New' ,'{{ Url }}Form',600,500 )">
                            <small class="glyphicon glyphicon-plus-sign"></small>
                            Add New
                        </a></div>
                    <table id="table" class="table table-responsive ">
                        <thead>
                        <tr>
                            {% for TableHeadingItem in TableHeading %}
                                <th><a class="table-header"
                                       field-name="{{ TableHeadingItem }}">{{ TableHeadingItem }}</a></th>
                            {% endfor %}

                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div id="loading-msg" class="loading-image">Loading..............</div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>


    $('#table').ajaxGrid({
        requestType: 'get',
        pageSize: 8,
        defaultSortExpression: 'ID',
        defaultSortOrder: 'asc',
        tableHeading: '.table-header',
        url: '{{ Url }}List',
        loadingImage: $('#loading-msg'),
        NoRecordsFound: 'No Records Found',
        id: 'ID',
        postContent: [

            {
                control: $('<button  name ="EditPost" type="button" class="btn btn-sm btn-rounded btn-info" onclick=\'showEditForm(this,"Edit Post","{{ Url }}Form",600,500)\'>' +
                        '<small class="glyphicon glyphicon-pencil"></small>' +
                        ' Edit' +
                        '</button>')
            }

            , {
                control: $("<form style='display: inline-block' action='{{ Url }}Delete' method='POST'>" +
                        "<input type='hidden' name='ID' id='ID' /> " +
                        '<button  type="submit" class="btn btn-sm btn-rounded btn-danger" onclick=\'return Confirmation(this,"Delete Post","Are you sure you want to delete?", "Yes", "No")\'>' +
                        '<small class="glyphicon glyphicon-trash"></small>' +
                        ' Delete' +
                        '</button></form>'),
                properties: [
                    {
                        propertyField: 'input[type=hidden]#ID',
                        property: 'value',
                        propertyValue: 'ID'
                    }
                ]
            }

        ]

    });


</script>
{% block script_content %}

{% endblock %}

</body>
</html>


