<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ Shared.AppName }}</title>
    <link rel="stylesheet" type="text/css" href="{{ MODULE }}font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MODULE }}bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ BASE_URL }}includes/css/main.css"/>
    <script type="text/javascript">
        var BASE_URL = '{{ BASE_URL }}';
    </script>
    <script type="text/javascript" src="{{ MODULE }}jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="{{ MODULE }}popper.js/dist/umd/popper.js"></script>
    <script type="text/javascript" src="{{ MODULE }}bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}includes/js/index.js"></script>
</head>
<body>
{% block content %}

{% endblock %}

{% block script_content %}

{% endblock %}
</body>
</html>
